.text-heading {
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.navbar ul li a {
  color: white !important;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.the-person {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
}

.the-component {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
}

.roadmap {
  width: 300px ;
  margin-top: 20px;
  margin-bottom: 20px;
}

.roadmap span{
    color: black;
    font-weight: bold;
}

.roadmap p {
  border-top: 2px dashed;
  border-color: slateblue !important;
  margin: 0;
  padding: 30px;
}

.roadmap p:nth-child(even) {
  border-left: 2px dashed;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  margin-right: 30px;
  padding-right: 0;
}

.roadmap p:nth-child(odd) {
    border-right: 2px dashed;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
  }

  .roadmap p:first-child{
      margin-top: 20px;
      border-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }

  .roadmap p:first-child{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.community{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer{
    margin-top: 50px;
}